<ion-header>
  <ion-toolbar>
    <ion-title>Crear Poesia</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <ion-label position="stacked">Titulo <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" [(ngModel)]="poesia.titulo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Escribe tu poesia aqui <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" [(ngModel)]="poesia.texto"></ion-input>
    </ion-item>

  

    <ion-item>
      <ion-label position="stacked">Fecha</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" readonly="true" requiered type="text" [(ngModel)]="fechaActual"></ion-datetime>
    </ion-item>
  </ion-list>
  
  <div class="ion-padding">
    <ion-button expand="block" type="submit"  (click)="guardarPoesia()">Publicar</ion-button>
  </div>
</ion-content>
