<ion-header>
  <ion-toolbar>
    <ion-title>Listado de Poesias</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--cuando se edita algun campo solo actualiza la vista que ha cambiado-->
  <ion-list *ngFor="let poesia of poesias | async; trackBy: trackByFn">
    <ion-item>
      <ion-label (click)="showPoesia(poesia.uid)">
        Titulo<p>{{poesia.titulo}}</p>
        Texto<p>{{poesia.texto}}</p>
        Fecha<p>{{poesia.fecha}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showCrearPoesia()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
