<ion-header>
  <ion-toolbar>
    <ion-title>Poesia</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--En caso de que se utilice el suscribe-->
<!--<ion-content *ngIf="(empleo | async) as empleo">-->

<!--En caso de que se utilice el await-->
<ion-content *ngIf="(poesia) as poesia">
  <ion-card>
    <!--<img [src]="poesia.image.url"/>-->
    <ion-card-header>
      <ion-card-title>Poesia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    Fecha:<ion-input required type="text" [(ngModel)]="poesia.fecha"></ion-input>
    Titulo:<ion-input required type="text" [(ngModel)]="poesia.titulo"></ion-input>
    <ion-textarea required type="text" readonly="true" [(ngModel)]="poesia.texto"></ion-textarea>
      Comentarios: <ion-input required type="text" readonly="true" [(ngModel)]="poesia.comentario"></ion-input>
    </ion-card-content>
    <ion-card-content>
        Comentar: <ion-input required type="text" [(ngModel)]="comentarioPoesia"></ion-input>
      </ion-card-content>
  </ion-card>

  <div class="ion-padding">
    
    <!--<app-image-upload [icon]="'camera'" [type]="'camera'" (uploadFinished)="imagenCargada($event)"></app-image-upload>-->
  <ion-button type="submit"  (click)="actualizaPoesia()">Publicar</ion-button>
    
  </div>

</ion-content>
